{% extends 'landing/landing.html' %}
{%load static%}
{%block link%}
    <link rel="stylesheet" href="{%static 'signup/signup.css'%}"/>
{%endblock link%}

{%block section%}
  <h1>Signup Form</h1>
  <form action="" method="post">
    {%csrf_token%}
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" required>

    <label for="email">Email:</label>
    <input type="email" id="email" name="email" required>


    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required>

    <label for="retype_password">Retype Password:</label>
    <input type="password" id="retype_password" name="retype_password" required>

    <input type="submit" value="Signup">
    <a href="{%url 'signin'%}">I have already an account</a>
  </form>
{%endblock section%}